*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height:100vh;

}
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% auto;
    background-image: linear-gradient(to bottom right,white,#144272,#205295,#0A2647,#0A2647);
    font-size: 20px;
    overflow-y: hidden;
}
img{
    height: 90vh;
    width: 100%;
    border-radius:  0 50% 50% 0;
    transform: scaleY(1.5);
    
    
}

form{
   margin: 10% 20% 20% 20%;
   line-height: 30px;
}
h1{
    padding-top: 20px;
    color: lightblue;
}
label{
    color: white;
    font-weight: 600;
}
select, input{
    border: none;

    height: 30px;
    width: 90%;
    border-radius: 7px;
    padding-left: 10px;
    cursor: pointer;
    
}

#butt{
    background-color:#205295;
    border: none;
    height: 40px;
    width: 50%;
    border-radius: 7px;
    padding-left: 10px;
    color: white;
    font-weight: 600;
    font-size: 17px;

}
#butt:hover{
    border:1px solid #205295;
    background-color: #0A2647;
    cursor: pointer;
    
   

}